        {{!-- The footer at the very bottom of the screen --}}
        <footer class="gh-foot">
			<div class="gh-foot-top">
				<div class="gh-foot-content inner">
					<div class="gh-foot-top-row">
						<nav class="gh-foot-top-nav">
						{{!-- {{#if @site.secondary_navigation}}
						{{navigation type="secondary"}}
						{{/if}} --}}
						</nav>
					</div>
					<nav class="gh-foot-nav">
					
						
						<section class="gh-foot-developers gh-foot-col"><h4>Developers</h4><ul><li><a href="/docs/setup/">How to install Ghost</a></li><li><a href="/docs/concepts/introduction/">Core concepts</a></li><li><a href="/pricing/">Ghost hosting</a></li><li><a href="/docs/api/v3/">API documentation</a></li><li><a href="/docs/concepts/security/">Security overview</a></li><li><a href="https://github.com/TryGhost/Ghost" target="_blank" rel="noopener noreferrer">Source code</a></li></ul></section>
						<section class="gh-foot-developers gh-foot-col"><h4>Developers</h4><ul><li><a href="/docs/setup/">How to install Ghost</a></li><li><a href="/docs/concepts/introduction/">Core concepts</a></li><li><a href="/pricing/">Ghost hosting</a></li><li><a href="/docs/api/v3/">API documentation</a></li><li><a href="/docs/concepts/security/">Security overview</a></li><li><a href="https://github.com/TryGhost/Ghost" target="_blank" rel="noopener noreferrer">Source code</a></li></ul></section>


						{{!-- @media (max-width: 965px) {
							.gh-foot-col:last-of-type {
								display: none;
							}
						} --}}
						
					</nav>


					<div class="gh-members-head-diagram"><img src="/content/images/2020/09/members-ui-1.png" alt="Members diagram"></div>
				</div>
			</div>
        </footer>