{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="inner">
	{{> "site-nav"}}
</div>


	<header class="outer gh-hero gh-curve-grey gh-members-head bg-yellow">
		<div class="inner">
			<div class="gh-members-head-content">
				{{!-- <div class="gh-beta-badge"><span>beta</span></div> --}}
				<h1 class="white">{{title}}</h1> 
				<p class=" white">Outsource Digital Marketing Anda Kepada Kami.</p>
					<ul  class="gh-subhead"><li>Strategi dan Perencanaan Digital Marketing</li><li>Pengelolaan Sosial Media</li><li>Strategi, Pembuatan dan Distribusi Konten</li><li>CRM dan Email Marketing</li><li>SEO dan Landing Page</li><li>Periklanan Online dan Performa Marketing</li><li>Kampanye berjalan 3 bulan</li></ul>
				<div class="gh-btn-group"><a class="gh-btn gh-btn-green" href="https://awakeningsuite.typeform.com/to/F3Ol1kp4"><span>Mulai</span></a><a class="gh-btn gh-btn-outline white" href="/blog/panduan-dasar-digital-marketing/"><span>Pendahuluan</span></a>
				</div>
			</div>
		</div>
		<div class="gh-members-head-diagram"></div>

				
	</header>

<main id="site-main" class="site-main outer">



		<section class="gh-section gh-section-white gh-section-intro">
			<div class="inner">
				{{content}}
			</div>
		</section>

		<section class="gh-section gh-section-dark gh-publishingtools">
			<div class="inner">
				<header class="gh-section-head"><div class="gh-features-icon gh-features-icon-publishing"><svg data-cy="signal-tower-icon" version="1" viewBox="0 0 24 24"><path d="M12.5 13.382V11.5a.5.5 0 0 0-1 0v1.882l-4.947 9.895A.5.5 0 0 0 7 24h10a.498.498 0 0 0 .447-.723L12.5 13.382zm-.5 1.236l.941 1.882h-1.882L12 14.618zm1.441 2.882l.415.829-1.853 1.239-1.858-1.239.414-.829h2.882zm-2.338 2.669l-2.822 1.887 1.413-2.826 1.409.939zm.901.601L15.349 23h-6.68l3.335-2.23zm.9-.601l1.402-.938 1.405 2.809-2.807-1.871zM12 0C5.383 0 0 5.383 0 12c0 3.102 1.184 6.048 3.332 8.295a.5.5 0 0 0 .723-.691A10.955 10.955 0 0 1 1 12C1 5.935 5.935 1 12 1s11 4.935 11 11c0 2.844-1.085 5.544-3.055 7.604a.5.5 0 0 0 .723.692A11.96 11.96 0 0 0 24 12c0-6.617-5.383-12-12-12zm0 4c-4.411 0-8 3.589-8 8a7.94 7.94 0 0 0 1.502 4.655.5.5 0 1 0 .812-.583A6.948 6.948 0 0 1 5 12c0-3.86 3.141-7 7-7s7 3.14 7 7a6.942 6.942 0 0 1-1.315 4.072.5.5 0 0 0 .812.584A7.946 7.946 0 0 0 20 12c0-4.411-3.589-8-8-8zm3.468 8.622h.023c.263 0 .485-.233.504-.497L16 12c0-2.206-1.794-4-4-4s-4 1.794-4 4l.005.125.503.028-.5.019c.011.272.235.416.506.404.272-.005.486-.303.486-.576 0-1.654 1.346-3 3-3s3 1.346 3 3h.5l-.508.134c-.01.273.202.473.476.488z"></path></svg></div><h2 class="white">Bagaimana Ini Akan Berjalan</h2><p>Transformasi Digital Bisnis Anda Dan Tingkatkan Online Sales Bersama Kami.</p></header>

				<div class="gh-publishingtools-content">
					<div class="gh-publishingtools-copy">
						<h3>Outsource kampanye online marketing kepada kami.</h3>
						<p>Kami bekerja-sama dengan tim Anda disetiap tahap: perencanaan, brain storming, laporan berkala, dukungan asisten, account manager, konsultasi hingga pekerja rutin harian.</p>

						<h3>Anda tentukan gol kampanye,kami lakukan pekerjaannya.</h3><p>Setelah Anda tentukan tujuan kampanye,  secara bersama kita akan buatkan ringkasan kreatif kampanye dan kami akan gelar kampanye ter-integrasi sesuai tujuan untuk mengembangkan bisnis dan brand Anda.</p>
						
					</div>
					<div class="gh-publishingtools-image">
						<div class="gh-deskmock">
							<div class="gh-deskmock-browser">
								<div class="gh-deskmock-viewport">
									<img src="/content/images/2020/11/desktopads.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="gh-mobilemock">
							<div class="gh-mobilemock-device">
								<div class="gh-mobilemock-holes">
									<div class="gh-mobilemock-earpiece"></div>
								</div>
								<div class="gh-mobilemock-screen">
									<img src="/content/images/2020/11/mobileads.jpg" alt="">
								</div>
								<div class="gh-mobilemock-homebutton"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inner">
				<div class="gh-grid gh-publishingtools-grid">
					<div class="gh-grid-item">
						{{> "icons/calendar" }}
						<h3>Jadwal</h3>
						<p>Kami rancang program kerja dalam struktur 12 minggu. </p>
					</div>
					<div class="gh-grid-item">
						{{> "icons/navigation" }}
						<h3>Proses Kerja</h3>
						<p>Anda bisa lihat progres kerja setiap saat. Kami komitmen 15 - 20 jam kerja per minggu untuk selesaikan tugas harian. </p>
					</div>
					<div class="gh-grid-item">
						{{> "icons/backup" }}
						<h3>Laporan</h3>
						<p>Kami berikan laporan resmi berkala setiap minggu. Account Manager kami akan chat atau telepon Anda untuk ini.</p>
					</div>
				</div>
			</div>
			<div class="inner gh-features-seo">
				<div class="gh-features-seo-graphic">
					<h2>Biaya</h2>
					<div class="gh-count">Rp. 15 juta</div>
					<h3 id="metode-pembayaran">Metode Pembayaran</h3>
					<p>Pilih metode pembayaran yang sesuai untuk Anda.</p>
					<ul><li><strong>100% Upfront.</strong> Pembayaran Rp. 15 juta dimuka via transfer bank</li><li><strong>Bayar Cicil.</strong> Pembayaran dicicil 4 kali</li></ul>
				</div>
				<div class="gh-features-seo-content">
					<h2 class="gh-features-seo-content-head white">Outsourcing Kampanye Digital Marketing Kepada Kami</h2>
					<p class="gh-features-seo-content-subhead">Gelar Kampanye Digital Marketing Terencana Dalam 3 Bulan Kedepan.</p>
					<div class="gh-features-seo-content-section">
						{{> "icons/team" }}
						<h3>Disesuaikan Untuk Anda</h3>
						<p>Bisnis Anda Unik. Lewat analisa dan pengetahuan, kami gelar kampanye terencana sesuai tujuan marketing Anda.</p>
					</div>
					<div class="gh-features-seo-content-section">
						{{> "icons/thunder" }}
						<h3>Target Kerja</h3>
						<p>Pantau progres kerja setiap saat. Kami komitmen untuk selesaikan setiap tugas sesuai target kerja.</p>
					</div>
					<div class="gh-features-seo-content-section">
						{{> "icons/whatsapp" }}
						<h3>Komunikasi</h3>
						<p>Anda dapat hubungi kami untuk dukungan dan komunikasi lainnya lewat chat maupun email.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="gh-section section-resources">
			<div class="inner">
				<header class="gh-section-head gh-section-head-bigger">
					<h2>Proses Penerimaan</h2>
					<p>Kami selektif dalam memilih klien. Penuhi kriteria untuk bekerja sama dalam program kampanye.</p>
				</header>
				<div class="gh-card">
					<div class="step mb-30">
						<h3>1. Isi Form Online</h3>
						<p>Isi aplikasi durasi 5 - 10 menit agar kami mengenal latar belakang, tujuan dan pengelaman bisnis Anda.</p>
						<div class="gh-btn-group"><a class="gh-btn gh-btn-green" href="https://awakeningsuite.typeform.com/to/F3Ol1kp4"><span>APLLY NOW</span></a>
					</div>
					</div>
					<div class="step mb-30">
						<h3>2. Chat Awal</h3>
						<p>Chat dengan account manager kami lewat WhatsApp atau telepon untuk bahas aplikasi, telusuri program kampanye dan tentukan apakah kita cocok satu sama lain.</p>
					</div>
					<div class="step mb-30">
						<h3>3. Esai Untuk Detail Bisnis Anda</h3>
						<p>Jawab dan kirim tugas analisa dan essai yang kami kirim.</p>
					</div>
					<div class="step mb-30">
						<h3>4. Video Call</h3>
						<p>Final video call bersama account manager dari kami untuk periksa apakah tujuan dan ekspektasi Anda sesuai dengan program kampanye yang kami tawarkan.</p>
					</div>
					<div class="step mb-30">
						<h3>5. Pembayaran</h3>
						<p>Pilih metode pembayaran dan konfirmasi</p>
					</div>
					<div class="step mb-30">
						<h3>6. Mulai Program</h3>
					</div>
				</div>				
			</div>		

			<div class="inner">

				
				<div class="gh-card lc">

					<header class="gh-section-head gh-section-head-bigger">
						<h2>Pertanyaan Umum</h2>
					</header>

					<details>
					<summary class="gh-btn gh-btn-outline"><h3>Penjelasan sederhana Program Kampanye</h3></summary>
					<p>Layanan ini membantu pengembangan bisnis Anda lewat: Outsourcing kampanye digital marketing kepada agency kami untuk tiga bulan ke depan.</p> <p>Dengan outsourcing kampanye berarti Anda bisa alokasikan sumber daya untuk urusan penting lainnya dengan biaya jauh lebih murah daripada rekrut agency.</p>
					</details>

					<details>  
					<summary class="gh-btn gh-btn-outline"><h3>Apa saja yang didapat & berapa lama?</h3></summary>
					<p>Program kampanye akan berjalan selama tiga bulan. Urusan akan mencakup:<ul><li>Strategi dan Perencanaan Digital Marketing</li><li>Pengelolaan Sosial Media</li><li>Strategi, Pembuatan dan Distribusi Konten</li><li>CRM dan Email Marketing</li><li>SEO dan Landing Page</li><li>Periklanan Online dan Performa Marketing</li></ul></p>
					</details>
						
					<details>
					<summary class="gh-btn gh-btn-outline"><h3>Biaya & pembayaran</h3></summary>
						<details>  
						<summary class="gh-btn gh-btn-outline"><h3>Biaya</h3></summary>
						<p>Biaya Rp. 15 juta untuk outsourcing kampanye selama 3 bulan. </p>
						</details>
							
						<details>
						<summary class="gh-btn gh-btn-outline"><h3>Pembayaran</h3></summary>
						<p>Pilih metode pembayaran yang sesuai untuk Anda: </p><ul><li>100% Upfront: Pembayaran Rp. 15 juta dimuka via transfer bank</li><li>Bayar Cicil: Pembayaran dicicil 4 kali</li>
						</details>
					</details>
					</div>
			</div>	
		</section>
</main>

<div class="gh-section gh-signupbox-section">
	<div class="inner">
		<div class="gh-signupbox">
			<div class="gh-signupbox-text">
				<strong>Mulai kampanye online marketing.</strong> Kami tangani digital marketing Anda di 3 bulan mendatang.		
			</div>
			<div class="gh-signup-actions">
				<a class="gh-btn gh-btn-blue" href="https://awakeningsuite.typeform.com/to/F3Ol1kp4">
				<span>Mulai</span></a>
				<a href="/blog/panduan-dasar-digital-marketing/" class="gh-btn gh-btn-white"><span>Pendahuluan</span></a>
			</div>
		</div>
	</div>
</div>

{{/post}}



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
	// NOTE: Scroll performance is poor in Safari
	// - this appears to be due to the events firing much more slowly in Safari.
	//   Dropping the scroll event and using only a raf loop results in smoother
	//   scrolling but continuous processing even when not scrolling
	$(document).ready(function () {
		console.log("there must be a way to debug");
		var nav = document.querySelector('.site-nav-main .site-nav');
		var feed = document.querySelector('.post-feed');
		var lastScrollY = window.scrollY;
		var lastWindowHeight = window.innerHeight;
		var lastDocumentHeight = $(document).height();
		var ticking = false;

		function onScroll() {
			lastScrollY = window.scrollY;
			requestTick();
		}

		function onResize() {
			lastWindowHeight = window.innerHeight;
			lastDocumentHeight = $(document).height();
			requestTick();
		}

		function requestTick() {
			if (!ticking) {
				requestAnimationFrame(update);
			}
			ticking = true;
		}

		function update() {
			var trigger = feed.getBoundingClientRect().top + window.scrollY;
			var progressMax = lastDocumentHeight - lastWindowHeight;
			// show/hide nav
			if (lastScrollY >= trigger - 20) {
				nav.classList.add('fixed-nav-active');
			} else {
				nav.classList.remove('fixed-nav-active');
			}
			ticking = false;
		}
		window.addEventListener('scroll', onScroll, {
			passive: true
		});
		window.addEventListener('resize', onResize, false);
		update();
	});
</script>
{{/contentFor}}
