/* 7.5. Floating Header
/* ---------------------------------------------------------- */

.floating-header {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: rgba(0, 0, 0, 0.06) 1px solid;
    background: rgba(255, 255, 255, 0.95);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, -120%, 0);
}

.floating-active {
    visibility: visible;
    transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
    transform: translate3d(0, 0, 0);
}

.floating-header-logo {
    overflow: hidden;
    margin: 0 0 0 20px;
    font-size: 1.6rem;
    line-height: 1em;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-logo a {
    display: flex;
    align-items: center;
    color: var(--darkgrey);
    line-height: 1.1em;
    font-weight: 700;
}

.floating-header-logo a:hover {
    text-decoration: none;
}

.floating-header-logo img {
    max-height: 20px;
    margin: 0 10px 0 0;
}

.floating-header-divider {
    margin: 0 5px;
    line-height: 1em;
}

.floating-header-title {
    flex: 1;
    overflow: hidden;
    margin: 0;
    color: #2e2e2e;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floating-header-share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    font-size: 1.3rem;
    line-height: 1;
}

.floating-header-share a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-header-share svg {
    width: auto;
    height: 16px;
    fill: #fff;
}

.floating-header-share-label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.floating-header-share-label svg {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 10px;
    stroke: rgba(0, 0, 0, 0.7);
    transform: rotate(90deg);
}

.floating-header-share-tw,
.floating-header-share-fb {
    display: block;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.floating-header-share-tw {
    background: #33b1ff;
}

.floating-header-share-fb {
    background: #005e99;
}

.progress {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border: none;
    color: var(--blue);
    background: transparent;

    appearance: none;
}

.progress::-webkit-progress-bar {
    background-color: transparent;
}

.progress::-webkit-progress-value {
    background-color: var(--blue);
}

.progress::-moz-progress-bar {
    background-color: var(--blue);
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.progress-bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: var(--blue);
}

@media (max-width: 900px) {
    .floating-header {
        height: 40px;
    }

    .floating-header-title,
    .floating-header-logo {
        font-size: 1.5rem;
    }

    .floating-header-share-tw,
    .floating-header-share-fb {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}

@media (max-width: 800px) {
    .floating-header-logo {
        margin-left: 10px;
    }

    .floating-header-logo a {
        color: #2e2e2e;
    }

    .floating-header-title,
    .floating-header-divider {
        visibility: hidden;
    }
}

@media (max-width: 450px) {
    .floating-header-share-label {
        display: none;
    }
}

@media (max-width: 600px) {
    .gh-head {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.gh-navbar {
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 55px;
    font-size: 13px;
}

.gh-navbar,
.gh-navbar-left,
.gh-navbar-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.gh-nav-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -15px;
    color: #738a94;
}

.gh-nav-item.gh-nav-logo:hover {
    color: inherit;
}

.gh-nav-logo .ghost-svg {
    width: auto;
    height: 25px;
}

.gh-nav-logo-suffix {
    position: relative;
    margin: 0 0 0 12px;
    padding: 0 0 0 11px;
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: none;
    transition: none;
}

.gh-nav-logo-suffix:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 23px;
    background: #d3e4ee;
    transform: rotate(25deg);
}

.gh-navbar-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block;
    padding: 10px 15px;
    color: #738a94;
    font-weight: 500;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gh-drop.active .gh-drop-trigger,
.gh-navbar-item-active,
.gh-navbar-item:hover {
    color: #343f44;
    text-decoration: none;
}

.gh-navbar-item:hover .gh-nav-logo-suffix {
    color: inherit;
}

.gh-more-drop svg {
    margin-left: 3px;
    width: 7px;
    height: auto;
}

.gh-more-drop .gh-dropdown {
    right: -73px;
    width: 146px;
    font-size: 1.2rem;
    text-shadow: none;
}

.gh-more-drop .gh-dropdown:after {
    right: 66px;
}

.gh-more-drop .gh-dropdown:before {
    right: 64px;
}

.gh-more-drop .gh-badge {
    font-size: 1rem;
}

.gh-navbar-btn {
    margin-left: 12px;
    color: #738a94;
    transition: all 0.5s ease;
}

.gh-navbar-btn span {
    padding: 8px 10px;
    min-width: 66px;
    height: auto;
    line-height: 1;
    text-align: center;
}

.gh-navbar-btn:hover {
    border-color: #3eb0ef;
    color: #3da1d6;
    transition: all 0.2s ease;
}

.gh-signin-drop svg {
    margin-left: 5px;
    width: 7px;
    height: auto;
}

.gh-head-transparent .gh-head {
    border: none;
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    background: transparent;
}

.gh-head-transparent .gh-head .ghost-svg g,
.gh-head-transparent .gh-head .ghost-svg path {
    fill: #fff;
}

.gh-head-transparent .gh-head .gh-navbar-item {
    color: hsla(0, 0%, 100%, 0.85);
}

.gh-head-transparent .gh-head .gh-drop.active .gh-drop-trigger,
.gh-head-transparent .gh-head .gh-navbar-item:hover {
    color: #fff;
}

.gh-head-transparent .gh-head .gh-more-drop .gh-dropdown {
    top: 110%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.2);
}

.gh-head-transparent .gh-head .gh-navbar-btn {
    border-color: hsla(0, 0%, 100%, 0.6);
    color: hsla(0, 0%, 100%, 0.8);
}

.gh-head-transparent .gh-head .gh-navbar-btn:hover {
    border-color: #fff;
    color: #fff;
}

.gh-head-transparent .gh-hero {
    margin-top: calc(-6vw - 55px);
}

@media (max-width: 660px) {
    .gh-head-transparent .gh-hero {
        margin-top: -20px;
    }
}

.gh-head-transparent .gh-hero .gh-btn-outline {
    border-color: hsla(0, 0%, 100%, 0.7);
    color: hsla(0, 0%, 100%, 0.8);
    transition: all 0.5s ease;
}

.gh-head-transparent .gh-hero .gh-btn-outline:hover {
    border-color: #fff;
    color: #fff;
    transition: all 0.15s ease;
}

.gh-mobilehead {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: hsla(0, 0%, 100%, 0.97);
    box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.02);
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    -webkit-backdrop-filter: blur(3px);
}

.gh-mobilenavbar {
    position: relative;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    font-size: 13px;
}

.gh-nav-burger {
    display: block;
    padding: 15px;
    color: #738a94;
    font-size: 25px;
    line-height: 1;
}

.gh-nav-burger,
.gh-nav-burger:hover {
    text-decoration: none;
}

.gh-mobilenavbar .gh-nav-logo {
    position: absolute;
    top: 0;
    right: 50%;
    display: block;
    padding: 13px 0;
    transform: translateX(50%);
}

.gh-mobilenavbar .ghost-svg {
    width: auto;
    height: 23px;
}

.gh-mobilenavbar .gh-login-link {
    display: block;
    padding: 14px 15px;
    font-size: 1.5rem;
}

.gh-mobilenavbar .gh-login-link:hover {
    text-decoration: none;
}

.gh-mobilemenu {
    padding: 2.7vw 14vw;
}

.gh-mobilemenu a {
    display: block;
    border-bottom: 1px solid #e5eff5;
    color: #738a94;
    font-size: 1.8rem;
    line-height: 4.8rem;
    font-weight: 200;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.4s;
    transform: scale(1.1) translateY(-25px);
}

.gh-mobilemenu a:first-child {
    transition-delay: 0.56s;
}

.gh-mobilemenu a:nth-child(2) {
    transition-delay: 0.49s;
}

.gh-mobilemenu a:nth-child(3) {
    transition-delay: 0.42s;
}

.gh-mobilemenu a:nth-child(4) {
    transition-delay: 0.35s;
}

.gh-mobilemenu a:nth-child(5) {
    transition-delay: 0.28s;
}

.gh-mobilemenu a:nth-child(6) {
    transition-delay: 0.21s;
}

.gh-mobilemenu a:nth-child(7) {
    transition-delay: 0.14s;
}

.gh-mobilemenu a:nth-child(8) {
    transition-delay: 0.07s;
}

.gh-mobilemenu a:hover {
    color: #3eb0ef;
    text-decoration: none;
}

.gh-mobilemenu a.active {
    color: #343f44;
    font-weight: 400;
}

.gh-mobilehead-open {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.3s;
}

.gh-mobilehead-open .gh-mobilemenu a {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1) translateY(0);
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(8) {
    transition-delay: 0.56s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(7) {
    transition-delay: 0.49s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(6) {
    transition-delay: 0.42s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(5) {
    transition-delay: 0.35s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(4) {
    transition-delay: 0.28s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(3) {
    transition-delay: 0.21s;
}

.gh-mobilehead-open .gh-mobilemenu a:nth-child(2) {
    transition-delay: 0.14s;
}

.gh-mobilehead-open .gh-mobilemenu a:first-child {
    transition-delay: 0.07s;
}

@media (max-width: 660px) {
    .gh-viewport {
        padding-top: 68px;
    }

    .gh-head {
        display: none;
    }

    .gh-mobilehead {
        display: block;
    }
}

.hamburger {
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 2px 0;
    border: 0;
    color: inherit;
    font: inherit;
    text-transform: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.15s linear, filter 0.15s linear;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 13px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #738a94;
    border-radius: 4px;
    transition: transform 0.15s ease;
}

.hamburger-inner:after,
.hamburger-inner:before {
    content: '';
    display: block;
}

.hamburger-inner:before {
    top: -6px;
}

.hamburger-inner:after {
    bottom: -6px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.15s;
}

.hamburger--collapse .hamburger-inner:after {
    top: -12px;
    transition: top 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
        opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner:before {
    transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.3s,
        transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.gh-mobilehead-open .hamburger-inner,
.gh-mobilehead-open .hamburger-inner:after,
.gh-mobilehead-open .hamburger-inner:before {
    background-color: #343f44;
}

.gh-mobilehead-open .hamburger-inner {
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.gh-mobilehead-open .hamburger-inner:after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s linear 0.27s;
}

.gh-mobilehead-open .hamburger-inner:before {
    top: 0;
    transition: top 0.12s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.18s,
        transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0.42s;
    transform: rotate(-90deg);
}

.inner {
    margin: 0 auto;
    max-width: 1030px;
    width: 100%;
}

.gh-head {
    position: relative;
    z-index: 900;
    margin-bottom: 40px;
    padding: 0 4vw;
    width: 100%;
    border-bottom: 1px solid #e5eff5;
    background: hsla(0, 0%, 100%, 0.97);
}

@media (max-width: 600px) {
    .gh-head {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.gh-navbar {
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 55px;
    font-size: 13px;
}

.gh-navbar,
.gh-navbar-left,
.gh-navbar-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
